body {
  display: flex;
}

#test-app,
#trace-app {
  flex: 1;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#normal,
#test,
#trace {
  border: 1px solid red;
  flex: 1;
}

.moonbit-trace {
  margin-left: 1rem;
  color: #dc1894 !important;
}
